h1 {
  font-size: 2em;
  text-align: center;
}

.gameboard {
  width: 400px;
  margin: 0 auto;
  margin-top: 5rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.tile {
  height: 100px;
  border: none;
  cursor: pointer;
}

.tile img {
  height: 100%;
  width: 100%;
}

#position-0 {
  border-right: 5px solid black;
  border-bottom: 5px solid black;
}

#position-1 {
  border-bottom: 5px solid black;
}

#position-2 {
  border-left: 5px solid black;
  border-bottom: 5px solid black;
}

#position-3 {
  border-right: 5px solid black;
  border-bottom: 5px solid black;
}

#position-4 {
  border-bottom: 5px solid black;
}

#position-5 {
  border-left: 5px solid black;
  border-bottom: 5px solid black;
}

#position-6 {
  border-right: 5px solid black;
}

#position-7 {
  
}

#position-8 {
  border-left: 5px solid black;
}